.row {
  margin-right: -5px;
  margin-left: -5px;
}
.container-fluid,.container,.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding-right: 5px;
  padding-left: 5px;
}
body{
  background : url('../image/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
.navigation{
  background-color: transparent;
  border: none;
}
.logo{
  margin-top: 9px;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(180,180,180,1);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(240,95,64,1);
}
.login-button,.login-button:focus,.login-button:hover{
  background-color: #e74c3c;
  color: #fff;
  text-transform: uppercase;
  transition: all .35s;
  font-weight: bold;
  outline: none;
  border-radius: 0;
  border: 0;
}
.remember{
  margin-left: 105px
}
.register-button{
  padding: 15px 30px;
  display: block;
  max-width: 200px;
  margin:auto;
  margin-bottom: 20px;
}
h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
  font-weight: 700;
}

.dashboard-image{
  max-height: 220px;
}

.group-circle{
  height: 135px;
  width: 270px;
  color: white;
  padding: 0px;
  background-position: center;
  position: relative;

}

.group-row{
  margin-bottom: 10px;
}

.groupMember{
  position: absolute;
  border-radius: 50%;
  background-position: center;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin: -65px 0px 0px -50px;
}

hr{
  max-width: 25%;
  border-color: #f05f40;
  border-width: 3px;
}
a{
  color: #e74c3c;
  text-transform: uppercase;
  font-weight: bold;
}
.register-form .form-group
input.form-control{
  height: auto;
  padding: 15px;
  font-weight: bold;
}
.register-form .form-group
select.form-control{
  height: auto;
  padding: 15px;
  font-weight: bold;
}
.login-form .form-group
input.form-control{
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
}

.step{
  width: 100%;
}

.add-to-group{
font-family: "Roboto Slab";
}

.options label{
  transition: background-color .3s, ease-in;
font-size: 15px;
display: inline-block;
cursor: pointer;
position: relative;
background-color: none;
color: #222;
border: 1px solid #d4d4d4;
padding: 2%;
width: 60%;
text-align: left;
margin: 8px;
}

.options input[type="radio"] {
    display: none;
}

.options input[type="radio"]:checked+label{
  background: #4d3d43;
  color: #fff;
}

.opt{
background-color: #4d3d43;
    padding: 2.2%;
    border: 1px solid #d4d4d4;
    color: white;
  }

  .switch-question{
    height: 40px;
    width: 40px;
    border-radius:50%;
    padding: 10px;
    color:#fff;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align:center;
    background:#4d3d43;
  }

  .answered{
    background: #27ae60;
  }

  .question-ul{
    max-width: 250px;
    list-style: none;
    padding: 0px;
    display: block;
    margin: auto;
  }

  .question-li{
    display: inline-block;
    margin: 6px auto;
  }

.about-content{
  font-family: "Roboto Slab";
  text-align: center;
  padding: 20px;
}

.guidelines{
  font-family: "Roboto Slab";
  font-weight: bold;
}

.cover-image{
  position: relative;
    width: 100%;
}

.user-name{

  height: 63px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0,0,0.8);
    color: white;
}



.event-bottom{

  height: 30px;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0,0,0.8);
    color: white;
    position: absolute;
    font-family: "Roboto Slab";
    padding-left: 15px;
    font-size: 20px;

}

.groupMember-bottom{

  height: 25px;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0,0,0.8);
    color: white;
    position: absolute;
    font-family: "Roboto Slab";
    padding-left: 10px;
    font-size: 15px;

}

.event-image{
  padding: 0px;
}

.event-box{
  margin: 10px;
  padding: 20px;
  border-bottom: 2px solid #d0d0d0;
}


.profile-image{
  margin-top: 0px;
    position: absolute;
    bottom: -55px;
    left: 42%;
    z-index: 100;
    border-radius: 180px;
    border: 5px solid white;
}

.add-to-circle{
width: 10%;
position: absolute;

bottom: -22px;
left: 89%;
margin-bottom: 32px;
background-color: #f05f40;
padding: 10px;
}

.mcq{
  text-align: left;
}

.mcq-title{
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  transition: all .35s;
  font-weight: bold;
}

.content{
  overflow: hidden;
  border-top: 1px solid #ddd !important;
}

.sidebar{
  margin-top: 0px !important;
}
.forgot,.forgot:hover{
  margin-left: 174px;
  margin-top: 5px;
  display: inline-block;
  color:#e74c3c;
  text-decoration: none;
}
@media(max-width: 998px){
  .login-form{
    float: none !important;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  #mainNav>div{
    text-align: center;
  }
  .logo{
    display: block;
    margin:auto;
  }
}
@media(max-width: 768px){
  .login-form{
    display: block;
    max-width: 400px;
  }
  .forgot{
    margin-left: 0;
  }
  .login-button{
    margin-top:10px;
  }
  .remember{
    margin-left:0;
  }
}
/*--------------------------------------------------------
                      Description Page
----------------------------------------------------------*/
header{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
header .logo{
  max-width: 200px;
  margin: 9.7px 5px;
}
header .search-box{
  text-align: right;
}
header .search-box .form-group{
  width:80%;
  margin-bottom: 0;
}
header .search-box .form-control{
  width: 100%;
  max-width: 400px;
}
header .btn,header .btn:focus{
  padding:10px;
  border-radius:0;
  border: none;
  color: #fff;
  margin: 15px 0;
  background-color: #f05f40;
  font-weight: 700;
  transition: background .4s;
  outline: none;
}
header .btn:hover{
  background-color: #ee4b28;
  color:white;
}
header .search,header .search:hover,header .search:focus{
  padding:13.5px;
  background-color: #4d3d43;
  margin:0;
}
header .form-control,header .form-control:focus{
  border-radius: 0;
  box-shadow: none;
  border:1px solid #ccc;
  padding:12px 12px 12px 30px;
  transition: background .4s;
  height: auto;
  font-size: 15px;
}
header .form-control:focus{
  background-color: #f7f7f7;
}
header .search-box form{
  margin:12px 0;
}
.main-section{
  margin-top:30px;
  margin-bottom: 30px;
}
.main-section .nav-tabs>li>a,.main-section .nav-tabs>li>a:hover{
  background-color: #eee;
  color:#555;
  border-radius: 0;
}
.b-pad-10{
  padding-bottom:10px !important;
}
.main-section .nav-tabs>li.active>a{
  background-color: #fff;
}
.main-section .content-box{
    font-family: "Roboto Slab";
  background-color: #fff;
  padding:20px 15px;
  border:1px solid #ddd;
  border-top:0;
}
.main-section aside{
  background-color: #fff;
  padding:20px 15px;
  border:1px solid #ddd;
  margin-top:42px;
}
.main-section .content-box h1,.main-section aside h1{
  font-size: 18px;
  text-transform: none;
  position: relative;
  padding-bottom: 0px;
  overflow: hidden;
  margin-top:10px;
}
.main-section aside h1{
  padding-bottom: 14px;
}
.main-section .content-box h1 a.apply{
  border-radius:0;
  border: none;
  color: #fff;
  background-color: #f05f40;
  font-weight: 700;
  transition: background .4s;
  outline: none;
  float: right;
  text-transform: none;
}
.main-section .content-box h1 a.apply:hover{
  background-color: #ee4b28;
}

.main-section aside .box a,.main-section aside .box a:hover,.main-section aside .box a:focus{
  padding:2px;
  color:#e74c3c;
  text-transform: none;
  float: right;
  font-weight: bold;
  text-decoration: none;
}
.main-section .content-box h3,.main-section aside h3{
  font-size: 16px;
  margin:30px 0 10px;
  text-transform: none;
}
.main-section aside .box{
  margin:25px 0;
  overflow: hidden;
}
.main-section aside .box p{
  font-size: 13px;
  color: #777;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.main-section aside h3{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
.main-section .content-box h1:after,.main-section aside h1:after{
  position:absolute;
  bottom:0;
  left: 0;
  content: "";
  height: 2px;
  border-bottom: 2px solid #f05f40;
  width:100%;
  max-width: 110px;
}
.main-section .content-box .highlight-box{
  display: inline-block;
  margin:5px 5px 5px 0;
  color: #f05f40;
  padding:8px 10px;
  border:1px solid #f05f40;
  font-weight: bold;
  transition: all .3s;
}
.main-section .content-box .highlight-box:hover{
  color:#fff;
  background-color: #f05f40;
  cursor: default;
}
footer{
  background-color: #4d3d43;
  color:white;
  text-align: center;
  padding:30px 0;
}
footer a,footer a:hover,footer a:focus{
  color:white;
  text-transform: none;
  text-decoration: none;
  transition: color .5s;
  font-weight: normal;
}
footer a>i{
  vertical-align: middle;
  margin-left:5px;
}
footer ul{
  list-style: none;
  padding:0;
  margin:0;
}
footer ul li{
  display: inline-block;
  padding:0 7px;
  position: relative;
}
footer ul li:after{
  position: absolute;
  content: "";
  right:-3px;
  border:1px solid #fff;
  height:10px;
  top:6px;
}
footer ul>li:last-child:after{
  border: none;
}
footer p{
  font-weight: bold;
  text-transform: uppercase;
}
@media(max-width: 768px){
  header .logo{
    margin-left:auto;
    margin-right: auto;
  }
  header .search-box {
    text-align: center;
  }
  header .search-box .form-group{
    display: inline-block;
  }
  header .search-box .form-control{
    max-width: 100%;
  }
  header .section3{
    text-align: center;
  }
  header .section3 .btn{
    margin-top: 0;
  }
}
 /*-----------------------------------------------
                Browse Internships
-------------------------------------------------*/

.browse-internships{
  margin-top:50px;
  margin-bottom: 50px;
}
.browse-internships .filter-box{
  max-width: 250px;
  position: relative;
  margin-bottom: 20px;
}
.browse-internships .filter-box>p{
  background-color: #4d3d43;
  color:#fff;
  padding:10px;
  font-size:15px;
  margin:0;
  font-weight: bold;
}
.browse-internships .filter-box>p a,.browse-internships .filter-box>p a:hover,.browse-internships .filter-box>p a:focus{
  text-transform: none;
  color:#fff;
  text-decoration: none;
  display: block;
}
.browse-internships .filter-box>p a span{
  font-size: 11px;
}
.browse-internships .filter-box ul{
  list-style: none;
  padding:0;
  margin:0;
  display: block;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.browse-internships .filter-box ul li{
  display: block;
  padding:10px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.browse-internships .filter-box ul li .checkbox{
  margin:0;
}
.browse-internships .filter-box .submenu ul{
  border-top:1px solid #ddd;
}
.browse-internships .filter-box .submenu{
  max-height: 240px;
  overflow-y:auto;
  position:absolute;
  right: -250px;
  bottom:-243px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  z-index: 10000;
  width: 100%;
  display: none;
  max-width: 285px;
  background: #fff;
}
.browse-internships .filter-box .submenu .form-group{
  padding:5px;
  margin-bottom: 5px;
}
.browse-internships .filter-box .submenu .form-group .form-control{
  box-shadow: none;
  border-radius: 0;
}
.browse-internships .filter-box .glyphicon-menu-hamburger{
  font-size:13px;
}
.browse-internships .internships{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}
.browse-internships .internships .internship-box{
  background: #fff;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis:32%;
  margin:0 5px 5px 0;
  border:1px solid #ddd;
  padding:10px;
}
.browse-internships .internships .internship-box .logo-box{
  display: flex;
  height: 150px;
  align-items:center;
}
.browse-internships .internships .internship-box h2{
  font-size: 18px;
  padding:10px 0;
  margin:5px;
  border-top: 2px solid #eb3812;
}
.browse-internships .internships .internship-box>a{
  background: #ee4b28;
  color:#fff;
  text-transform: none;
  text-decoration: none;
  outline: none;
  float: right;
  font-size: 14px;
  width: 100%;
  max-width: 60px;
  text-align: center;
  padding:5px 10px;
}
.browse-internships .internships .internship-box span{
  vertical-align: middle;
}
.browse-internships .internships .internship-box .logo-box img{
  width: 100%;
  max-height: 150px;
}
.dashboard .main-section .content-box .box{
  max-width: 350px;
  margin:10px auto;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 0px 15px 2px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
}
.dashboard .main-section .content-box .box h2{
  font-size: 20px;
  margin:0;
  padding:10px;
  text-align: center;
  background-color: #2C3E50;
  color:#fff;
  font-weight: 300;
  font-family: sans-serif;
}
.dashboard .main-section .content-box .box a{
  display: block;
  text-decoration: none;
}
.dashboard .main-section .content-box h1{
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: sans-serif;
}
.dashboard .main-section .content-box h1:after{
  display: none;
}
